.active {
    box-shadow: 2px 2px 5px #C2A83E;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #243E36; /* Updated background color */
    color: #F1F7ED; /* Updated text color */
    position: sticky;
    top: 0;
    border-bottom: 2px solid #F1F7ED; /* Updated border color */
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #F1F7ED; /* Updated text color */
    margin-left: 5rem;
}

nav ul {
    display: flex;
    font-weight: bold;
    margin-right: 1rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #F1F7ED; /* Updated link color */
    padding: 0.5rem;
    margin: 0 0.8rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
    box-shadow: 2px 2px 5px #7CA982; /* Updated hover shadow color */
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #F1F7ED; /* Updated menu icon color */
    border-radius: 0.2rem;
}

@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}
